bind_config/example.com/records/*.db
bind_config/example.com/config/named.conf
bind_config/sub.example.com/records/*.db
bind_config/sub.example.com/config/named.conf
bind_config/sub.sub.example.com/records/*.db
bind_config/sub.sub.example.com/config/named.conf
bind_config/sub.sub.delay.com/records/*.db
bind_config/sub.sub.delay.com/config/named.conf

bind_config_dnssec/*/config/named.conf
bind_config_dnssec/**/records/dsset*
bind_config_dnssec/**/records/*.db
bind_config_dnssec/**/records/*.key*
bind_config_dnssec/**/records/*.private*
bind_config_dnssec/*/records/*.db.signed
